/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;
  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gform_wrapper {
  .gform_fields {
    @extend .list-unstyled;
    @extend .form-row;
  }

  .gfield {
    @extend .col-md-12;
  }

  .gfield,
  .ginput_container input[type=text],
  .ginput_container input[type=email],
  .ginput_container input[type=number],
  .ginput_container input[type=url],
  .ginput_container input[type=tel],
  .ginput_container input[type=date],
  .ginput_container input[type=password],
  .ginput_container select,
  .ginput_container textarea {
    @extend .form-control;
  }

  .gfield {
    border-color: transparent;
  }

  .gform_button {
    @extend .btn;
    @extend .btn-primary;
  }

  .ginput_complex {
    margin-left: -15px;
    margin-right: -15px;

    @extend .form-row;
  }

  .name_first,
  .name_last {
    @extend .col-md-6;
  }
}
